.App {
  display: flex;
  flex-direction: column;
}

.Navbar {
  background-color: #1e88e5;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.Main {
  width: 1280px;
  height: 622px;
  background-image: url(https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}

.MainText {
  text-align: center;
}

.MapContainer {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-family: Sansation;
  font-weight: bold;
  font-size: 21px;
  line-height:2;
  position:relative;
}