.App {
  display: flex;
  flex-direction: column;
}

.Navbar {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: double #555;
}

.Main {
  width: 1280px;
  height: 1460px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}

.MainText {
  text-align: center;
  color: #bbc3c8; 
  font-family: 'Verdana', sans-serif; 
  font-size: 16px; 
  line-height: 26px; 
  text-indent: 30px; 
  margin: 0; 
}

.MapContainer {
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: #c9d0d4; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 56px; 
  font-weight: 100; 
  line-height: 50px; 
  letter-spacing: 8px; 
  padding: 0 0 40px; 
  border-bottom: double #555; 
}


.Title {
  color: #bbc3c8; 
  font-family: 'Verdana', sans-serif; 
  font-size: 22px; 
  line-height: 26px; 
  text-indent: 30px; 
}

.Address {
  color: #bbc3c8; 
  font-family: 'Verdana', sans-serif; 
  font-size: 14px; 
  line-height: 26px; 
  text-indent: 30px; 
}

.Type {
  color: #bbc3c8; 
  font-family: 'Verdana', sans-serif; 
  font-size: 12px; 
  line-height: 26px; 
  text-indent: 30px; 
}

a {
  text-decoration: none;  
}

.Anchor {
  font-size: 10px;
  background-color: green;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.Submit {
  background-color: green;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.Hello {
  font-weight: 100; 
  line-height: 50px; 
  letter-spacing: 4px; 
}

.Small-text {
  font-size: 6px;
}